#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.favicons {
    display: block;
    gap: 2rem;
    grid-template-columns: repeat(10, 1fr);
}

.favicon {
    display: inline-block;
    padding: 1rem;
}

.favicon:hover {
    background: #f9f9f9;
}

.favicon.is-selected {
    border: 1px solid dodgerblue;
}

.favicon svg {
    width: 2rem;
    height: 2rem;
}